<%- include('partials/header'); %>
<div>
    <% socials.forEach((social) => { %>
        <ul>
            <li><a class="flex justify-center rounded-md" href="<%- social.url %>"><%- social.name %></a></li>
        </ul>
    <% }); %>
</div>
<%- include('partials/footer'); %>